#notification{
  text-align: center;
    /* padding-top:20px;
  padding-right:20px; */
  padding: 15px;
  background-color: #264cc0;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  width: 20%; /* or a specific width, e.g., 300px */
  margin-left:500px;
}