/* Center the text */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #7377e8;
}

#blink-text {
    font-size: 2em;
    font-weight: bold;
    color: #db61b4;
}